/* FluidGrid CSS Framework --  Hubert Florin --  couzin.hub@gmail.com --  Copyright 2011 Hubert Florin --  Built with SASS http://sass-lang.com/ */
*, .reset { margin: 0; padding: 0; }

#page { margin: 0 auto; position: relative; min-width: 600px; }

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11 { float: left; position: relative; margin-right: "2%"; left: "2%"; }

.span-full { width: 100%; float: left; clear: both; }

.container .alpha, .container .omega { margin-left: 0; margin-right: 0; }
.container .alpha { clear: both; }
.container .omega { float: right; }

.container_12 { clear: both; position: relative; float: none; }
.container_12 .alpha, .container_12 .omega { left: 0; }

.col { position: absolute; bottom: 0; height: 100%; z-index: -1; }

.pull-1, .push-1, .pull-2, .push-2, .pull-3, .push-3, .pull-4, .push-4, .pull-5, .push-5, .pull-6, .push-6, .pull-7, .push-7, .pull-8, .push-8, .pull-9, .push-9, .pull-10, .push-10, .pull-11, .push-11, .pull-12, .push-12 { float: left; position: relative; }

/* visual grid */
.col { position: absolute; bottom: 0; height: 100%; z-index: -1; background-color: #def2ff; }

/* Clearfix for page container */
.clearfix:after, .container_12:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Grid Visibility Toggle */
.grid_12 { display: none; }

.display { display: block; }

#switchgrid { position: fixed; bottom: 0; left: 0; z-index: 99; font-size: 11px; text-decoration: none; padding: 5px 10px 3px; color: #fff; border: 1px solid #aaa; background-color: #ccc; }
#switchgrid:hover { border: 1px solid #333; background-color: #777; cursor: pointer; }
